
<footer>
<div class="footer">

<div class="icons">
    <h3>Follow me </h1>
    <img class ="icon" src= "/Images/facebook.JPG">
    <img class ="icon" src="/Images/Insta.JPG">
    <img class ="icon" src="/Images/Linkdin.JPG">
    <img class = "icon" src="/Images/whatsapp.JPG">
</div>

</div>

</footer>




</body>
</html>
