<%- include ("partials/Header.ejs") %>
<div class="container create">
<form action="/post" method="POST">
    <input type="text" name="Title" placeholder="Title" required>
    <textarea name="content" placeholder="Content"required></textarea>
    <button class="creating"type="submit">Create</button>

</form>

</div>


<%- include ("partials/Footer.ejs") %>





